/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/ref/GeneticAlgorithm.ConsoleTest.dll
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/Antlr3.Runtime.dll
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.Bll.dll
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.Bll.pdb
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.ConsoleTest.deps.json
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.ConsoleTest.dll
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.ConsoleTest.exe
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.ConsoleTest.pdb
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.ConsoleTest.runtimeconfig.dev.json
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/GeneticAlgorithm.ConsoleTest.runtimeconfig.json
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/NCalc.dll
/GeneticAlgorithm.ConsoleTest/bin/Debug/net5.0/nunit.framework.dll
