@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>  
<script src="js/canvasScript.js"></script>  

<div>
    <div class="split-one left">
        @using (Html.BeginForm("InitializeGeneticAlgorithm", "Home", FormMethod.Post))
        {
            <div class="centered">
                <h4>Initialize parameters for Genetic Algorithm</h4>
                <input type="text" id="minimumX" name="minimumX" placeholder="Minimum x..">
                <input type="text" id="maximumX" name="maximumX" placeholder="Maximum x..">
                <input type="text" id="minimumY" name="minimumY" placeholder="Minimum y..">
                <input type="text" id="maximumY" name="maximumY" placeholder="Maximum y..">
                <input type="text" id="populationMinSize" name="populationMinSize" placeholder="Population minimum size..">
                <input type="text" id="populationMaxSize" name="populationMaxSize" placeholder="Population maximum size..">
                <input type="text" id="crossoverProbability" name="crossoverProbability" placeholder="Crossover probability (float)..">
                <input type="text" id="mutationProbability" name="mutationProbability" placeholder="Mutation probability (float)..">
                <input type="submit" value="Submit" />
            </div>
            
        }
        <input type="submit" stryle="width:70%" value="Build Chart"  onclick="GetChartData()"/>
    </div>


    <div class="split-two right">
        <div class="centered">
            <canvas id="scatterChart"></canvas>
        </div>
    </div>
</div>


<style>
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.split-one {
  height: 70%;
  width: 30%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
.split-two {
  height: 70%;
  width: 70%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
  }

.centered {
  position: absolute;
  width: 74%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>