@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="split-one left">
        <div class="centered">
            <h2>Initialize parameters for Genetic Algorithm</h2>
            <p>Minimum X:  </p>
            <p>Maximum X:  </p>
            <p>Minimum Y:  </p>
            <p>Maximum Y:  </p>
        </div>
    </div>


    <div class="split-two right">
        <div class="centered">
            <h2>John Doe</h2>
            <p>Some text here too.</p>
        </div>
    </div>
</div>

<style>

.split-one {
  height: 70%;
  width: 30%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}
.split-two {
  height: 70%;
  width: 70%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #1111;
}

.right {
  right: 0;
  background-color: #4e555b;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 150px;
  border-radius: 50%;
}
</style>